<table>
  <tr>
    <td class="main">
      	<h1>
        	<%= @user.name %>
      	</h1>
      		<%= @user.email %>
    	
    </td>
   </tr>
   <tr><%= link_to "Post New Article", newpost_path%></tr>
</table>