<% if signed_in? %>
		
		<div id="settings">
			<%= link_to "Edit", edit_micropost_path(object.id)%> | 	
  			<%= link_to "Delete", object, :method => :delete, 
									:confirm => "You sure?",
                                	:title => object.title%>
		</div>
		
  			
<% end %>