<div id="siteInfo">
   	<footer class="container_24">
      <p> Copyright '10' -- WebsiteName -- All Rights Reserved</p>
      <nav>
         <ul>
            <li><%= link_to "Home", root_path %></li>
      		<li><%= link_to "About", about_path %></li>
      		<li><%= link_to "Contact", contact_path %></li>
      		<li><%= link_to "Blog", blog_path %></li>        
      	  </ul>
      </nav>
      </footer>
</div>
